.item {
	border: 1px solid $border-default;
	background-color: $muted-full;
	border-radius: 2px;
	position: relative;
	@include adaptiveValue('padding-inline', 48, 20);
	@include adaptiveValue('padding-bottom', 48, 20);
	@include adaptiveValue('padding-top', 48, 30);
	> * {
		margin-bottom: 16px;
	}
	// .item__time
	&__time {
		position: absolute;
		@include adaptiveValue('top', 20, 10);
		@include adaptiveValue('right', 20, 10);
		border-radius: 2px;
		padding: 8px;
		font-size: 12px;
		line-height: 1.2;
		text-transform: uppercase;
		border: 1px solid $border-default;
		background-color: $muted-full;
		margin-bottom: 0;
	}
	// .item__label
	&__label {
		padding-right: 70px;
		font-family: $secondFamily;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.6;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		margin-bottom: 4px;
	}
	// .item__title
	&__title {
		color: $text-default;
		font-family: $secondFamily;
		font-size: 24px;
		font-weight: 300;
		line-height: 1.3;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	// .item__text
	&__text {
		line-height: 1.8;
		margin-bottom: 32px;
	}
	// .item__list
	&__list {
		color: $text-default;
		line-height: 1.8;
	}
	// .item__item
	&__item {
		position: relative;
		padding-left: 20px;
		&::before {
			content: '';
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $background-primary;
			position: absolute;
			left: 0;
			top: 12px;
		}
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	> *:last-child {
		margin-bottom: 0;
	}
}
