.page {
	// .page--services
	&--services {
		@include adaptiveValue('padding-bottom', 160, 30);
	}
	// .page__hero-services
	&__hero-services {
		@include adaptiveValue('margin-bottom', 80, 30);
	}
	// .page__stats
	&__stats {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 160, 30);
		}
	}
	// .page__services
	&__services {
	}
}
//========================================================================================================================================================
.hero-services {
	@include adaptiveValue('padding-top', 224, 120);
	// .hero-services__container
	&__container {
		max-width: 1630px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	// .hero-services__blockhead
	&__blockhead {
	}
	// .hero-services__button
	&__button {
		@include adaptiveValue('margin-block', 64, 20);
	}
	// .hero-services__image
	&__image {
		opacity: 0;
		translate: 0 5%;
		transition: all 1s 0.8s;
		will-change: transition, opacity;

		[data-fls-loaded] & {
			&.--watcher-view {
				translate: 0 0;
				opacity: 1;
			}
		}

		@media (max-width: toEm(1920)) and (min-width: toEm(1200)) {
			max-width: 1200px;
		}
	}
}
//========================================================================================================================================================
.stats {
	opacity: 0;
	transition: opacity 1s 0.8s;
	will-change: opacity;

	[data-fls-loaded] & {
		opacity: 1;
	}

	// .stats__container
	&__container {
		max-width: 1230px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 20px;
		@include adaptiveValue('column-gap', 64, 20);
	}
	// .stats__item
	&__item {
		flex: 1 1 21%;
		span {
		}

		@media (max-width: toEm($mobileSmall)) {
			flex: 1 1 120px;
		}
	}
}
.item-stats {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-family: $secondFamily;
	text-transform: uppercase;
	// .item-stats__title
	&__title {
		font-size: 13px;
		line-height: 1.6; /* 20.8px */
		letter-spacing: 1.5px;
	}
	// .item-stats__value
	&__value {
		color: $text-default;
		@include adaptiveValue('font-size', 64, 48);
		font-weight: 300;
		line-height: 1.1;
	}
}
//========================================================================================================================================================
.services {
	// .services__container
	&__container {
		display: grid;
		gap: 32px;
		max-width: 1110px;
	}
	// .services__item
	&__item {
		translate: 0 2%;
		transition: translate 0.6s;
		&.--watcher-view {
			translate: 0 0;
		}
	}
}
.item-service {
	@include adaptiveValue('padding', 64, 20);
	> * {
		margin-bottom: 48px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	// .item-service__label
	&__label {
		text-transform: uppercase;
		font-family: $secondFamily;
		font-size: 13px;
		letter-spacing: 1.5px;
		line-height: 1.6;
		margin-bottom: 16px;
	}
	// .item-service__title
	&__title {
		font-weight: 300;
		font-family: $secondFamily;
		@include adaptiveValue('font-size', 64, 32);
		color: $text-default;
		line-height: 1.1;
	}
	// .item-service__link-title
	&__link-title {
		transition: color 0.3s;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: $primary-hover;
			}
		}
	}
	// .item-service__link-image
	&__link-image {
		display: block;
		position: relative;
		border-radius: 2px;
		overflow: hidden;
		border: 1px solid $border-default;
		&::after {
			content: '';
			background: url('@img/noise.png') 0 0 repeat;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				.item-service__image {
					scale: 1.01;
				}
			}
		}
	}
	// .item-service__image
	&__image {
		width: 100%;
		transition: scale 0.8s;
	}
	// .item-service__table
	&__table {
	}
}
.table-service {
	border-collapse: collapse;
	// .table-service__row
	&__row {
		&:not(:first-child) {
			td {
				@include adaptiveValue('padding-top', 48, 20);
			}
		}
		&:not(:last-child) {
			td {
				@include adaptiveValue('padding-bottom', 48, 20);
				border-bottom: 1px solid $border-default;
			}
		}
	}
	// .table-service__label
	&__label {
		width: 23.452158%; /* 250/1200 */
		vertical-align: top;
		color: $text-default;
		text-transform: uppercase;
		font-family: $secondFamily;
		font-size: 13px;
		letter-spacing: 1.5px;
		line-height: 1.8;
		margin-bottom: 16px;
		padding-right: 15px;
	}
	// .table-service__text
	&__content {
		line-height: 1.8;
	}
	&__text {
		p {
			&:not(:last-child) {
				margin-bottom: toRem(14);
			}
		}
	}
	&__more {
		color: $text-default;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
