.page {
	&--contacts {
		@include adaptiveValue('padding-top', 224, 100);
		@include adaptiveValue('padding-bottom', 160, 30);
	}
}
.contacts {
	// .contacts__container
	&__container {
		@include adaptiveValue('column-gap', 80, 20);

		@media (min-width: toEm($tablet)) {
			display: flex;
		}
	}
	// .contacts__picture
	&__picture {
		position: relative;
		@media (min-width: toEm($mobile)) {
			flex: 1 1 719px;
		}
		@media (max-width: toEm($tablet)) {
			display: none;
		}
	}
	// .contacts__image
	&__image {
		position: sticky;
		top: 0;
		left: 0;
		mix-blend-mode: lighten;
		translate: 0 5%;
		opacity: 0;
		transition: all 0.8s;

		[data-fls-loaded] & {
			translate: 0 0;
			opacity: 1;
		}
	}
	// .contacts__body
	&__body {
		display: grid;
		gap: 16px;
		@media (min-width: toEm($mobile)) {
			flex: 1 1 600px;
		}
	}
	// .contacts__form
	&__form {
		translate: 0 -5%;
		transition: all 1.2s;

		[data-fls-loaded] & {
			translate: 0 0;
		}
	}
	// .contacts__social
	&__social {
		> * {
			flex: 1 1 240px;
		}
		translate: 0 5%;
		transition: all 1.2s;

		[data-fls-loaded] & {
			translate: 0 0;
		}
	}
}
.form-contacts {
	@include adaptiveValue('padding', 48, 20);
	// .form-contacts__header
	&__header {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 32, 20);
		}
	}
	// .form-contacts__label
	&__label {
	}
	// .form-contacts__title
	&__title {
	}
	// .form-contacts__body
	&__body {
		display: grid;
		gap: 16px;
	}
	// .form-contacts__input
	&__input {
	}
	// .form-contacts__button
	&__button {
	}
}
