.page {
	&--contacts {
		@include adaptiveValue('padding-top', 224, 100);
		@include adaptiveValue('padding-bottom', 160, 30);
	}
}
.contacts {
	// .contacts__container
	&__container {
		align-items: flex-start;
		@include adaptiveValue('column-gap', 80, 20);

		@media (min-width: toEm($tablet)) {
			display: flex;
		}
	}
	// .contacts__picture
	&__picture {
		@media (min-width: toEm($mobile)) {
			flex: 1 1 719px;
		}
		@media (max-width: toEm($tablet)) {
			display: none;
		}
	}
	// .contacts__image
	&__image {
		mix-blend-mode: lighten;
	}
	// .contacts__body
	&__body {
		display: grid;
		gap: 16px;
		@media (min-width: toEm($mobile)) {
			flex: 1 1 600px;
		}
	}
	// .contacts__form
	&__form {
	}
	// .contacts__social
	&__social {
		> * {
			flex: 1 1 240px;
		}
	}
}
.form-contacts {
	@include adaptiveValue('padding', 48, 20);
	// .form-contacts__header
	&__header {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 32, 20);
		}
	}
	// .form-contacts__label
	&__label {
	}
	// .form-contacts__title
	&__title {
	}
	// .form-contacts__body
	&__body {
		display: grid;
		gap: 16px;
	}
	// .form-contacts__input
	&__input {
	}
	// .form-contacts__button
	&__button {
	}
}
