.skills {
	@include adaptiveValue('margin-bottom', 163, 60);
	counter-reset: item;
	// .skills__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		// display: grid;
		gap: 32px;
		// grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
	}
}
.skill {
	@include adaptiveValue('padding', 42, 15);
	border-radius: 2px;
	border: 1px solid $border-default;
	background: $background-muted;
	flex: 1 1 350px;
	display: flex;
	flex-direction: column;

	> * {
		margin-bottom: 8px;
	}

	&:before {
		counter-increment: item;
		content: counter(item, decimal-leading-zero);
		font-size: 13px;
		line-height: 1.6;
		letter-spacing: 1.5px;
		margin-bottom: 4px;
	}

	// .skill__title
	&__title {
		color: $text-default;
		font-family: $secondFamily;
		font-size: 24px;
		font-weight: 300;
		line-height: 1.3;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	// .skill__link-title
	&__link-title {
		transition: color 0.3s;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: $primary-hover;
			}
		}
	}

	// .skill__text
	&__text {
		flex: 1 1 auto;
		line-height: 1.8;
		margin-bottom: 32px;
	}
	&:last-child {
		margin-bottom: 0px;
	}
}
