.page {
	&--singlework {
		@include adaptiveValue('padding-top', 224, 120);
		@include adaptiveValue('padding-bottom', 160, 30);
	}
}
.singlework {
	// .singlework__hero
	&__hero {
		@include adaptiveValue('margin-bottom', 62, 30);
	}
	// .singlework__project
	&__project {
		@include adaptiveValue('margin-bottom', 128, 30);
	}
	// .singlework__body
	&__body {
	}
}
.hero-singlework {
	// .hero-singlework__container
	&__container {
		display: flex;
		flex-direction: column;
		@include adaptiveValue('gap', 48, 20);
	}
	// .hero-singlework__blockhead
	&__blockhead {
	}
	// .hero-singlework__button
	&__button {
		translate: 0 40%;
		opacity: 0;
		transition: all 0.6s 0.8s;
		will-change: translate, opacity;
		align-self: center;

		[data-fls-loaded] & {
			translate: 0 0;
			opacity: 1;
		}
	}
	// .hero-singlework__info
	&__info {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
	}
}

.project-singlework {
	// .project-singlework__container
	&__container {
	}
	// .project-singlework__picture
	&__picture {
		overflow: hidden;
		border-radius: 2px;
		border: 1px solid $border-default;
		position: relative;
		&::after {
			content: '';
			background: url('@img/noise.png') 0 0 repeat;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	//
	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
		filter: blur(15px);
		transition: filter 1s 0.3s;
		will-change: filter;

		[data-fls-loaded] & {
			&.--watcher-view {
				filter: blur(0);
			}
		}
	}
}
.info-singlework {
	display: flex;
	gap: 32px;
	@include adaptiveValue('gap', 32, 12);
	flex-wrap: wrap;

	> * {
		transition-property: translate;
		transition-duration: 1s;
		transition-delay: 0.2s;
		translate: 0 30%;

		@media (min-width: toEm($mobileSmall)) {
			@for $i from 1 through 6 {
				&:nth-of-type(#{$i}) {
					$delay: 0.15 + ($i * 0.05);
					$t: 30% + ($i * 10%);
					transition-delay: #{$delay}s;
					translate: 0 #{$t};
				}
			}
		}
	}

	// .info-singlework__item
	&__item {
		flex: 1 1 150px;
		text-align: center;
		padding: 16px;

		[data-fls-loaded] & {
			translate: 0 0;
		}
	}
	// .info-singlework__label
	&__label {
	}
	// .info-singlework__value
	&__value {
		color: $text-default;
	}
}
.body-singlework {
	// .body-singlework__container
	&__container {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		row-gap: 20px;
		@include adaptiveValue('column-gap', 96, 20);
	}
	// .body-singlework__content
	&__content {
		flex: 1 1 450px;
		@media (width > toEm(996)) {
			position: sticky;
			top: 150px;
		}
	}
	// .body-singlework__label
	&__label {
		text-align: left;
		justify-self: flex-start;
	}
	// .body-singlework__title
	&__title {
		text-align: left;
		justify-self: flex-start;
	}
	// .body-singlework__items
	&__items {
		flex: 1 1 450px;
		display: grid;
		@include adaptiveValue('gap', 32, 15);
	}
	// .body-singlework__item
	&__item {
		translate: 0 20%;
		transition: translate 0.6s ease 0.05s;
		will-change: translate;

		&.--watcher-view {
			translate: 0 0;
		}
	}
}
.item-body-singlework {
	@include adaptiveValue('padding', 48, 20);
	// .item-body-singlework__title
	&__title {
		@include adaptiveValue('font-size', 24, 20);
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	// .item-body-singlework__text
	&__text {
		line-height: 1.8;
		p {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
}
