// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily: 'Chillax', sans-serif;
$secondFamily: 'Satoshi', sans-serif;
$thirdFamily: 'Gambetta', serif;

$fontSize: 16;

// Основні кольори
$mainColor: rgba(218, 197, 167, 0.6);
$text-default: #dac5a7;
$text-inverse: #0e0e0e;
$text-inverse-muted: rgba(255, 255, 255, 0.6);
$background-default: #0e0e0e;
$background-primary: #dac5a7;
$background-secondary: #1a1a1a;
$background-muted: rgba(218, 197, 167, 0.05);
$background-muted-2: rgba(255, 255, 255, 0.07);
$border-default: rgba(218, 197, 167, 0.15);
$border-inverse: rgba(255, 255, 255, 0.12);
$icon-default: #dac5a7;
$icon-inverse: #0e0e0e;
$primary-hover: #f9efe1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1400;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
