<button data-fls-button class="button">Button</button>
<button data-fls-button class="button button--primary">Button</button>
<button data-fls-button class="button button--primary">Button</button>
<button data-fls-button class="button button--primary button--icon button--icon-arrow button--icon-ul">Button</button>
<button data-fls-button class="button-text button--icon-arrow button--icon-ul">Button text</button>
<button data-fls-button class="button-text button-text--big button--icon-arrow button--icon-ul">Button text</button>
<button data-fls-button class="button-text button-text--reverse button-text--big button--icon-arrow button--icon-ul">Button text</button>