.page {
	// .page__hero
	&__hero {
	}
	// .page__clients
	&__clients {
	}
	// .page__skills
	&__skills {
	}
	// .page__selected-work
	&__selected-work {
	}
}
//========================================================================================================================================================
.hero {
	@include adaptiveValue('padding-block', 40, 15);

	// .hero__container
	&__container {
		text-align: center;
		min-height: 100svh;

		display: grid;
		align-content: center;
	}
	// .hero__image
	&__image {
		position: relative;
		width: 100vw;
		height: 54svh;
		object-fit: contain;
		mix-blend-mode: lighten;
		// opacity: 0;
		// [data-fls-loaded] & {
		// 	animation: show-items 1.5s ease forwards;
		// }
	}
	// .hero__blockhead
	&__blockhead {
		position: relative;
		translate: 0 -12%;
		// opacity: 0;
		// [data-fls-loaded] & {
		// 	animation: show-items 1.5s ease forwards 0.5s;
		// }
	}
	@keyframes show-items {
		0% {
			top: 10%;
			opacity: 0;
		}
		100% {
			top: 0;
			opacity: 1;
		}
	}
}

//========================================================================================================================================================
.clients {
	@include adaptiveValue('padding-top', 80, 15);
	@include adaptiveValue('padding-bottom', 80, 60);
	// .clients__container

	[data-fls-marquee-inner] {
		align-items: center;
		@include adaptiveValue('gap', 20, 0);
		// opacity: 0;
		// translate: 0 100%;

		// &.--watcher-view {
		// 	transition: all 0.8s;
		// 	opacity: 1;
		// 	translate: 0 0;
		// }
	}

	&__item {
		// scale: 0;
		.--watcher-view & {
			// transition-duration: 0.8s;
			// @for $i from 1 through 6 {
			// 	&:nth-child(#{$i}) {
			// 		$delay: 0.1 * $i;
			// 		transition-delay: #{$delay}s;
			// 	}
			// }
			// scale: 1;
		}
	}
}

//========================================================================================================================================================
.skills {
	// .skills__container
	&__container {
		// 	translate: 0 30%;
		// 	transition-property: translate;
		// 	transition-duration: 1s;
		// 	&.--watcher-view {
		// 		translate: 0 0;
		// 	}
	}
}

//========================================================================================================================================================
