<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />
<main class="page page--home">
	<section class="page__hero hero">
		<div data-fls-parallax-parent class="hero__container">
			<img data-fls-parallax class="hero__image" src="@img/arik.png" alt="Image">
			<div data-fls-blockhead class="hero__blockhead blockhead">
				<h1 class="blockhead__title blockhead__title--size-160">Web Designer <span>& Developer</span></h1>
				<div class="blockhead__text blockhead__text--size-24">
					<p>Premium web design, development, and SEO services to help your business stand out.</p>
				</div>
			</div>
		</div>
	</section>
	<div data-fls-marquee data-fls-marquee-speed="600" data-fls-watcher data-fls-watcher-once class="page__clients clients">
		<li class="clients__item">
			<img src="@img/clients/01.svg" alt="Image">
		</li>
		<li class="clients__item">
			<img src="@img/clients/02.svg" alt="Image">
		</li>
		<li class="clients__item">
			<img src="@img/clients/03.svg" alt="Image">
		</li>
		<li class="clients__item">
			<img src="@img/clients/04.svg" alt="Image">
		</li>
		<li class="clients__item">
			<img src="@img/clients/05.svg" alt="Image">
		</li>
		<li class="clients__item">
			<img src="@img/clients/06.svg" alt="Image">
		</li>
	</div>
</main>