.page {
	// .page__hero
	&__hero {
	}
	// .page__clients
	&__clients {
	}
	// .page__skills
	&__skills {
	}
	// .page__selected-work
	&__selected-work {
	}
}
//========================================================================================================================================================
.hero {
	@include adaptiveValue('padding-block', 40, 15);

	// .hero__container
	&__container {
		text-align: center;
		min-height: 100svh;

		display: grid;
		align-content: center;
	}
	// .hero__image
	&__image {
		position: relative;
		width: 100vw;
		height: 54svh;
		object-fit: contain;
		mix-blend-mode: lighten;
		opacity: 0;
		[data-fls-loaded] & {
			animation: hero-image 1.5s ease forwards;
		}
	}
	// .hero__blockhead
	&__blockhead {
		position: relative;
		translate: 0 -12%;
	}
}

//========================================================================================================================================================
.clients {
	@include adaptiveValue('padding-top', 80, 15);
	@include adaptiveValue('padding-bottom', 80, 60);
	// .clients__container

	[data-fls-marquee-inner] {
		align-items: center;
		@include adaptiveValue('gap', 20, 0);
		// opacity: 0;
		// translate: 0 100%;

		// &.--watcher-view {
		// 	transition: all 0.8s;
		// 	opacity: 1;
		// 	translate: 0 0;
		// }
	}

	&__item {
		// scale: 0;
		.--watcher-view & {
			// transition-duration: 0.8s;
			// @for $i from 1 through 6 {
			// 	&:nth-child(#{$i}) {
			// 		$delay: 0.1 * $i;
			// 		transition-delay: #{$delay}s;
			// 	}
			// }
			// scale: 1;
		}
	}
}

//========================================================================================================================================================
.skills {
	// .skills__container
	&__container {
		// 	translate: 0 30%;
		// 	transition-property: translate;
		// 	transition-duration: 1s;
		// 	&.--watcher-view {
		// 		translate: 0 0;
		// 	}
	}
}

//========================================================================================================================================================
.selected-work {
	@include adaptiveValue('padding-bottom', 160, 60);

	// translate: 0 100px;
	// transition: translate 0.8s;
	// &.--watcher-view {
	// 	translate: 0 0;
	// }

	// .selected-work__container
	&__container {
	}
	&__items {
		html:not([data-fls-touch]) & {
			&:has(.item-work:hover) .item-work:not(:hover) {
				// scale: 0.99;
				&::after {
					opacity: 0.9;
				}
			}
		}
	}
}
//========================================================================================================================================================
.process {
	@include adaptiveValue('padding-bottom', 160, 60);
	counter-reset: item;
	// .process__container
	&__container {
	}
	// .process__blockhead
	&__blockhead {
		@include adaptiveValue('margin-bottom', 48, 15);
	}
	// .process__items
	&__items {
	}
}
.items-process {
	// .items-process__header
	&__header {
		position: relative;
		@include adaptiveValue('height', 158, 20);
		display: grid;
		grid-template-rows: 46px 1fr;
		justify-items: center;
		gap: 16px;
		&::after {
			content: '';
			width: 1px;
			background-color: $border-default;
		}
		@media (max-width: toEm(889.98)) {
			display: none;
		}
	}
	// .items-process__arrow
	&__arrow {
		width: 46px;
		aspect-ratio: 1;
		text-align: center;
		align-content: center;
		border: 1px solid $border-default;
		background-color: $background-muted;
		border-radius: 50%;
		@media (max-width: toEm(889.98)) {
			width: 40px;
		}
	}
	// .items-process__body
	&__body {
		display: flex;
		flex-direction: column;
	}
	// .items-process__item
	&__item {
	}
}
.item-process {
	position: relative;
	@include adaptiveValue('padding-left', 99.5, 50, 2, $containerWidth, 890);
	&::before {
		content: '';
		position: absolute;
		background-color: $border-default;
		width: 1px;
		height: 100%;
		left: 0px;
	}
	&::after {
		content: '';
		scale: 0;
		transition: scale 0.8s;
		left: 0;
		translate: -50% -50%;
		position: absolute;
		top: 50%;
		z-index: 2;
		letter-spacing: 1.5px;
		font-size: 13px;
		counter-increment: item;
		content: counter(item, decimal-leading-zero);
		width: 40px;
		height: 40px;
		outline: 16px solid $background-default;
		text-align: center;
		align-content: center;
		border: 1px solid $border-default;
		background-color: $muted-full;
		border-radius: 50%;
	}
	&.--watcher-view {
		&::after {
			scale: 1;
		}
	}
	// .item-process__body
	&__body {
		translate: 0 20%;
		transition: translate 0.8s;
		.--watcher-view & {
			translate: 0 0;
		}
	}
	&:last-child {
		&::before {
			height: 50%;
		}
	}
	@media (min-width: toEm(890)) {
		width: 50%;
		align-self: flex-end;
		&:not(:first-child) {
			margin-top: -50px;
		}
		&:nth-child(even) {
			@include adaptiveValue('padding-right', 99.5, 50, 2, $containerWidth, 890);
			padding-left: 0;
			align-self: flex-start;
			&::before {
				left: auto;
				right: -1px;
			}
			&::after {
				right: 0;
				translate: 50% -50%;
				left: auto;
			}
		}
	}
	@media (max-width: toEm(889.98)) {
		&::before {
			display: none;
		}
		&::after {
			top: 10px;
			left: 10px;
			outline: 5px solid $background-default;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

//========================================================================================================================================================
.reviews {
	// .reviews__container
	&__container {
	}
	// .reviews__blockhead
	&__blockhead {
		@include adaptiveValue('margin-bottom', 64, 15);
	}
	// .reviews__items
	&__items {
		max-width: 1200px;
		margin: 0 auto;
	}
	// .reviews__item
	&__item {
		margin-bottom: 32px;

		translate: 0 20%;
		transition: translate 0.8s;
		&.--watcher-view {
			translate: 0 0;
		}
	}
}
.item-review {
	border-radius: 2px;
	@include adaptiveValue('padding', 48, 20);
	> * {
		margin-bottom: 32px;
	}
	// .item-review__icon
	&__icon {
	}
	// .item-review__title
	&__title {
		color: $text-default;
		font-family: $secondFamily;
		font-size: 24px;
		font-weight: 300;
		line-height: 1.3;
		letter-spacing: 1px;
		margin-bottom: 8px;
		transition: color 0.3s;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: $primary-hover;
			}
		}
	}
	// .item-review__link-title
	&__link-title {
	}
	// .item-review__text
	&__text {
		line-height: 1.8;
	}
	// .item-review__author
	&__author {
	}
	> *:last-child {
		margin-bottom: 0;
	}

	@media (min-width: toEm(750)) {
		width: calc(50% - 16px);
	}
}
.author-review {
	display: flex;
	align-items: flex-start;
	gap: 16px;
	// .author-review__avatar
	&__avatar {
		aspect-ratio: 1;
		width: 60px;
		flex-shrink: 0;
		object-fit: cover;
		border-radius: 50%;
	}
	// .author-review__body
	&__body {
		align-self: center;
		line-height: 1.6;
	}
	// .author-review__name
	&__name {
		font-size: 13px;
		text-transform: uppercase;
		color: $text-default;
		letter-spacing: 1.5px;
	}
	// .author-review__company
	&__company {
		font-weight: 300;
		font-size: 14px;
	}
}

//========================================================================================================================================================
.about-module {
	@include adaptiveValue('padding-top', 50, 30);
	@include adaptiveValue('padding-bottom', 232, 60);
	// .about-module__container
	&__container {
	}
	// .about-module__header
	&__header {
		position: relative;
		text-align: center;
		@include adaptiveValue('margin-bottom', 50, 30);
	}

	// .about-module__picture
	&__picture {
		display: inline-block;
		background-color: $background-default;
		position: relative;
		z-index: 2;
		box-shadow: 0px 0px 50px 50px rgba(14, 14, 14, 1);
		/*
		&::before,
		&::after {
			content: "";
			background-image: linear-gradient(90deg, rgba(14, 14, 14, 0) 0%, rgba(14, 14, 14, 1) 100%);
			position: absolute;
			height: 100%;
			width: 20vw;
			top: 0;
		}
		&::before {
			left: 0;
			translate: -100% 0;
		}
		&::after {
			right: 0;
			rotate: 180deg;
			translate: 100% 0;
		}*/
	}
	// .about-module__image
	&__image {
		height: 55svh;
		object-fit: contain;
		mix-blend-mode: lighten;
	}
	// .about-module__name
	&__name {
	}
	// .about-module__text
	&__text {
		line-height: 1.6;
		&:not(:last-child) {
			margin-bottom: 32px;
		}

		translate: 0 20%;
		opacity: 0;
		transition: all 0.8s 0.3s;
		&.--watcher-view {
			opacity: 1;
			translate: 0 0;
		}
	}
	// .about-module__body
	&__body {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
		@include adaptiveValue('column-gap', 64, 20);

		@media (max-width: toEm($mobile)) {
			flex-direction: column;
		}
	}
	// .about-module__title
	&__title {
		flex: 1 1 1px;
		font-family: $secondFamily;
		@include adaptiveValue('font-size', 48, 32);
		font-weight: 300;
		color: $text-default;
		line-height: 1.1;
		span {
			display: block;
			font-family: $thirdFamily;
		}
		translate: 0 20%;
		opacity: 0;
		transition: all 0.8s;
		&.--watcher-view {
			opacity: 1;
			translate: 0 0;
		}
	}
	// .about-module__content
	&__content {
		flex: 1 1 1px;
	}
	// .about-module__social
	&__social {
	}
}
.name-about {
	position: absolute;
	top: 50%;
	left: 0;
	translate: 0 -50%;
	@include adaptiveValue('font-size', 128, 45);
	// .name-about__item
	&__item {
		margin-right: 100px;
		font-family: $secondFamily;
		font-weight: 300;
		color: $text-default;
		span {
			font-family: $thirdFamily;
		}
	}
}
