.menu {
	@media (min-width: toEm($mobile)) {
		position: relative;
		z-index: 5;
	}
	@media (max-width: toEm($mobile)) {
		flex-grow: 1;
	}

	// .menu__icon
	&__icon {
		user-select: none;
	}

	// .menu__body
	&__body {
		@media (max-width: toEm($mobile)) {
			position: fixed;
			width: 100%;
			height: 100svh;
			left: 100%;
			top: 0;
			overflow: auto;
			background-color: rgba(14, 14, 14, 0.8);
			padding: 110px 15px 30px 15px;
			transition: left 0.3s;
			&::before {
				content: '';
				position: fixed;
				width: 100%;
				height: 70px;
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
			}
			[data-fls-menu-open] & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 20px;

		@media (max-width: toEm($mobile)) {
			flex-direction: column;
			align-items: flex-end;
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		position: relative;
		font-family: $fontFamily;
		font-size: 13px;
		line-height: 160%;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: $text-default;
		transition: color 0.5s;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 0;
			height: 0.5px;
			background-color: $background-primary;
			transition: width 0.5s, left 0.5s;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $primary-hover;
				&::after {
					left: 0;
					width: 100%;
					background-color: $primary-hover;
				}
			}
		}

		@media (max-width: toEm($mobile)) {
			font-size: 24px;
		}

		&--active {
			&::after {
				left: 0;
				width: 100%;
				background-color: $primary-hover;
			}
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: toEm($mobile)) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $background-primary;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - 1px);
		}
		[data-fls-menu-open] & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}
