.articlepreview {
	@include adaptiveValue("padding", 48, 20);
	display: flex;
	flex-direction: column;
	gap: 32px;
	// .articlepreview__link-image
	&__link-image {
		aspect-ratio: 416 / 270;
		border-radius: 2px;
		border: 1px solid $greyColor;
		position: relative;
		&::before {
			scale: 0;
			transition: scale 0.3s;
			content: "\f112";
			font-family: "iconfont";
			position: absolute;
			rotate: 45deg;
			color: $liteColor;
			top: 50%;
			left: 50%;
			border: 1px solid $greyColor;
			border-radius: 50%;
			width: 46px;
			aspect-ratio: 1;
			background-color: $mutedColor;
			translate: -50% -50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&::after {
			content: "";
			background: url("@img/noise.png") 0 0 repeat;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					scale: 1;
				}
			}
		}
	}
	// .articlepreview__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	// .articlepreview__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: 8px;
		flex-grow: 1;
	}

	// .articlepreview__date
	&__date {
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.2;
	}
	// .articlepreview__title
	&__title {
		@include adaptiveValue("font-size", 24, 20);
	}
	// .articlepreview__link-title
	&__link-title {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				text-decoration-thickness: 1px;
			}
		}
	}
	// .articlepreview__text
	&__text {
		line-height: 1.8;
	}
	// .articlepreview__category
	&__category {
		align-self: flex-start;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.2;
		transition: all 0.3s;
		padding: 8px;
		@media (any-hover: hover) {
			&:hover {
				background-color: $liteColor;
				color: $bgColor;
			}
		}
	}
}
