<aside data-fls-letstalk class="lets-talk">
	<div data-fls-border data-fls-marquee data-fls-marquee-speed="100" class="lets-talk__line line-talk">
		<div class="line-talk__item">Let’s talk</div>
		<div class="line-talk__item">+++</div>
	</div>
	<section class="lets-talk__body">
		<div class="lets-talk__container">
			<div data-fls-blockhead class="blockhead blockhead--gap-8">
				<span data-fls-watcher data-fls-watcher-once class="blockhead__label">Project in mind?</span>
				<h1 data-fls-watcher data-fls-watcher-once class="blockhead__title">Let’s make your <span>Website shine</span></h1>
				<div data-fls-watcher data-fls-watcher-once class="blockhead__text">
					<p>Premium web design, webflow, and SEO services to help your business stand out.</p>
				</div>
				<div data-fls-watcher data-fls-watcher-once class="blockhead__footer">
					<a href="#" data-fls-button class="blockhead__button button button--primary button--icon button--icon-arrow button--icon-ul">Get in touch</a>
				</div>
			</div>
		</div>
	</section>
</aside>